@media (max-width:600px) {
  article h1
  {
    font-size: 3em;
  }
}
@media (min-width: 601px) and (max-width: 900px)
{
  article h1
  {
    font-size: 5em;
  }
}
@media (min-width: 901px)
{
  article h1
  {
    font-size:7em;
  }
}

article
{
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    background-color:white;
    padding-top: 15vh;
    padding-bottom: 15vh;
}
article img
{
  width:30%;
}
article p
{
    font-family: 'Courier New', Courier, monospace;
    color:grey;
    margin-left: 20vw;
    margin-right: 20vw;
}
.swapper-title
{
  transform: translateX(0);
  transition: transform 0.5s;
}
.swapper-title:hover
{
  transform: translateX(2%);
}