
code
{
    background-color: white;
    margin-top:10vh;    
}
.code
{
    background-color: white;
    margin-top:10vh;
}
article
{
    position:relative;
    top:5vh;
    background-color: white;
}