@media (max-width:600px) {
    .main-menu
    {
      font-size: 1.5em;
    }
    #main-menu-desktop
    {
      display:none;
    }
    #main-menu-mobile
    {
      display:block;
    }
    body
    {
      font-size:0.8em;
    }
}
@media (min-width: 601px) and (max-width: 1500px)
 {
    .main-menu
    {
      font-size: 2em;
    }
    #main-menu-desktop
    {
      display:none;
    }
    #main-menu-mobile
    {
      display:block;
    }
    body
    {
      font-size:1em;
    }
}
@media (min-width: 1500px)
{
    .main-menu
    {
      font-size:2.5em;
    }
    #main-menu-desktop
    {
      display:block;
    }
    #main-menu-mobile
    {
      display:none;
    }
    body
    {
      font-size:1.5em;
    }
}

body
 {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-image: url('images/background.jpg');*/
  background-color:black;
}
iframe
{
  width: 80vw;
  height:80vh;
}

.main-menu
{
  margin-left: 20vw;
  margin-top:15vh;
}
.main-menu a
{
  text-decoration: none;
}

h1
{
  /*text-shadow: 5px 5px yellow; */
  margin:0;
  padding:0.5vh;
  font-family: 'Bebas Neue', cursive;
}
.font-white
{
  color:white;
}
.font-green
{
  color:rgba(15, 204, 15, 0.76);
}
.swapper-title
{
  transform: translateX(0);
  transition: transform 0.5s;
}
.swapper-title:hover
{
  transform: translateX(2%);
}

